
@inherits UmbracoViewPage<Portfolio.CMS.ViewModels.HomePageVM>
    @using ContentModels = Umbraco.Web.PublishedContentModels;
    @{
    Layout = "~/Views/Shared/_Layout.cshtml";
    }

    




    <div id="header" class="home" style="background:url(@Umbraco.Media(Model.Banner.Id).url">

        

        <div class="container">
            <div class="header-content">
                <h1>I Do   <span class="typed"></span></h1>
                <p>@Model.FullName</p>
                <h1>This is the master branch</h1>
                <h2> this is me doing some thing else</h2>
               
                <ul class="list-unstyled list-social">
                    <li><a href="#"><i class="ion-social-facebook"></i></a></li>
                    <li><a href="#"><i class="ion-social-twitter"></i></a></li>
                    <li><a href="#"><i class="ion-social-instagram"></i></a></li>
                    <li><a href="#"><i class="ion-social-googleplus"></i></a></li>
                    <li><a href="#"><i class="ion-social-tumblr"></i></a></li>
                    <li><a href="#"><i class="ion-social-dribbble"></i></a></li>

                </ul>
            </div>
        </div>
    </div>

    @Html.Partial("~/Views/Partials/_About.cshtml")

    @Html.Partial("~/Views/Partials/_Services.cshtml")

    @Html.Partial("~/Views/Partials/_portfolio.cshtml")

    @Html.Partial("~/Views/Partials/_journal.cshtml")

    @Html.Partial("~/Views/Partials/_contact.cshtml")

